<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pnj.ac.id.wahmulyadi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".webservice.tambahpegawai"></activity>
        <activity android:name=".webservice.Detailwebservice" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".LatihanInternalExtrenal" />
        <activity android:name=".contacs.MainActivity" />
        <activity android:name=".EksternalActivity" />
        <activity android:name=".InternalActivity" />
        <activity android:name=".LatihanStorage" />
        <activity android:name=".MainActivity" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".FragmentActivityDetail" />
        <activity android:name=".DashboardActivity" /> <!-- android:label="@string/title_activity_dashboard" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"></activity> -->
        <activity android:name=".HalamaUtama" />
        <activity android:name=".ListMahasiswa" />
        <activity android:name=".Tambah_Mahasiswa" />
        <activity android:name=".Profile" />
        <activity android:name=".login" />
        <activity android:name=".HalamanLatihanImage" />
        <activity android:name=".webservice.mainwebservice">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".MessageReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".contacs.ContactsProvider"
            android:authorities="pnj.ac.id.wahmulyadi.contacs"
            android:exported="true"
            android:readPermission="pnj.ac.id.wahmulyadi.contacs.READ_DATABASE"
            android:writePermission="pnj.ac.id.wahmulyadi.contacs.WRITE_DATABASE" />
    </application>

</manifest>